:root {
  --bubblegum-pink: #ef476f;
  --royal-gold: #ffd166;
  --Emerald: #06d6a0;
  --ocean-blue: #118ab2;
  --dark-teal: #073b4c;
}

body {
  margin: 0;
  background: var(--dark-teal);
  font-family: 'Inter', sans-serif;
  color: var(--deep-green);
}

/* NAVIGATION */
nav {
  background: var(--bubblegum-pink);
  color: var(--dark-teal);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: var(--royal-gold);
  text-decoration: none;
  font-weight: 600;
}

nav a.active {
  border-bottom: 2px solid var(--dark-teal);
}

/* TIMER */
.timer-section {
  text-align: center;
  margin-top: 3rem;
}

.timer-circle {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 8px solid var(--Emerald);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: var(--dark-teal);
}

#time-display {
  font-size: 3rem;
  font-weight: bold;
  color: var(--royal-gold);
}

.controls {
  margin-top: 2rem;
}

.btn {
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 8px;
}

.start {
  background: var(--bubblegum-pink);
  color: var(--dark-teal);
}

.pause {
  background: var(--royal-gold);
  color: var(--dark-teal);
}

.reset {
  background: transparent;
  border: 2px solid var(--Emerald);
  color: var(--royal-gold);
}

/* DASHBOARD */
.chart-container {
  width: 80%;
  margin: 2rem auto;
}
 h2{
  text-align: center;
  color: var(--royal-gold);
}

/* WORLD */
.world-section {
  text-align: center;
  padding: 2rem;
  color: var(--royal-gold);
}

#world-grid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 10px;
}
